ext
build
packages/remote
temp

node_modules
bower_components

/.build/
build/
/build/
bootstrap.js
bootstrap-data.js
bootstrap-files.js
bootstrap-manifest.js
bootstrap-specs.js
bootstrap.json
bootstrap.css
bootstrap-modern-data.js
bootstrap-modern-files.js
bootstrap-modern-manifest.js
sencha-error*.log
.sass-cache
.sass-cache/*

.DS_Store
.tmp*